<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>app</directory>
            <directory suffix=".php">residat-back-end</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Models</directory>
            <directory suffix=".php">./app/View</directory>
            <directory suffix=".php">./resources/View</directory>
            <directory suffix=".php">./app/Jobs</directory>
            <directory suffix=".php">./app/Models/.*Test\.php</directory>
        </exclude>
        <!-- <include>
            <directory suffix=".php">residat-back-end</directory>
        </include> -->
    </source>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="MAIL_DRIVER" value="log"/>
        <ini name="xdebug.mode" value="coverage" />
    </php>
    
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="tests/coverage/clover.xml"/>
            <cobertura outputFile="tests/coverage/cobertura.xml"/>
            <crap4j outputFile="tests/coverage/crap4j.xml" threshold="50"/>
            <html outputDirectory="tests/coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="tests/coverage/coverage.php"/>
            <text outputFile="tests/coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="tests/coverage/xml-coverage"/>
        </report>
    </coverage>
</phpunit>